.mainbg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
  background-image: linear-gradient(rgb(234, 237, 180),rgb(241, 95, 120));
  background-size: cover;
}

.App {
  min-height: 600px;
  width: 450px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #34ebc0 4px solid;
 
 
 
 
  
}
.mainContainer{
  box-shadow: 5px;
  border: 5px #ebc634;


}

button {
  color: black;
  margin: 10px;
  border-radius: 5px;
  padding: 14px;
  border-color: black;
  font-weight: 900;
}
span{
  height: 40px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  background-color: white;
  font-weight: bold;
}
.secondContainer{
  display: flex;
  justify-content: space-between;
  
}
.firstContainer{
  display: flex;
  justify-content: space-between;
  
}

.clean{
  background-color:#fc7f03 ;
  font-weight: bold;

}
.equal{
  background-color: #03adfc;
}